In [1]:
import os       
import glob
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("results/combined_csv.csv")
data2 = pd.DataFrame()

In [3]:
data2["error_rate"] = data["error_rate"]+np.random.normal(0,np.sqrt(3),len(data))
data2["dataset"]=data["dataset"]
data2["algorithm"]=data["algorithm"]
data2["seed"]=data["seed"]
data2["label"]=data["label"]
data2["task"]=data["task"]

In [4]:
data["SD"]=0

In [5]:
x = data["error_rate"]+np.random.normal(0,np.sqrt(3),len(data))
x

0         34.367794
1         61.914624
2         24.613283
3         65.269884
4          3.312854
            ...
551175    30.905623
551176    23.232250
551177    29.936449
551178    27.514916
551179    32.631560
Name: error_rate, Length: 551180, dtype: float64

In [6]:
data2["error_rate"] = x

In [7]:
data2["SD"]=3

In [8]:
data_all = pd.concat([data,data2],ignore_index=True)

In [9]:
data_all

         error_rate       dataset   algorithm  seed  label       task  SD
0         31.632997      fsdnoisy         vat   854  large  usb_audio   0
1         61.176593         esc50     pimodel   454  small  usb_audio   0
2         28.596725  urbansound8k         uda   252  small  usb_audio   0
3         65.287927   yelp_review    mixmatch   817  large    usb_nlp   0
4          2.597700       aclimdb   flexmatch   275  large    usb_nlp   0
...             ...           ...         ...   ...    ...        ...  ..
1102355   30.905623   tissuemnist         uda   220  small     usb_cv   3
1102356   23.232250         gtzan    fixmatch   929  small    usb_nlp   3
1102357   29.936449           stl     comatch   137  small     usb_cv   3
1102358   27.514916       eurosat         uda   104  small     usb_cv   3
1102359   32.631560  urbansound8k  supervised   992  large  usb_audio   3

[1102360 rows x 7 columns]

In [10]:
data_all.to_csv("results/combined_csv_SD.csv")

In [11]:
len(data_all)

1102360

In [12]:
len(data_all["label"]=="small")

1102360